.drop{
    width: 30px;
    height: 30px;
}

.ims{
    height: 300px;
}

.ims:hover{
    transition: 1.2s;
    z-index: 100;
    scale: 1.3;
}

.ims:not(:hover){
    transition: 1.2s;
    z-index: 1;
    scale: 1;
}